<!-- Will display the question asked and the answer form the coach -->
<h1>Stupid Coach</h1>
<!-- Question -->
<div id="box">
  <div class="inner-box">
    <% if @question.blank? %>
      <p>...</p>
    <% else %>
      <p><%= @question %></p>
      <p class="italic">-You</p>
    <% end %>
  </div>
</div>

<!-- Answer -->
<div id="yellow">
  <div class="inner-box">
    <p><%= @answer %></p>
    <p class="italic">-Your Coach</p>
  </div>
</div>


<!-- This links as back to the ask page -->
<%= link_to 'ask another question', ask_path %>
